$black: #45404A;
$blackh: #333333;
$grey: #F1EDEC;
$white: #ffffff;
$greyb: #A98D7F;
$gold: #FFC664;
$button: linear-gradient(66.48deg, #A98D7F -159.9%, #FFC664 115.5%);
$greydrk: #434242;
$gold: #FF8F00;