@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/robotocondensed-400-normal.woff2') format('woff2'), url('../fonts/Roboto/robotocondensed-400-normal.woff') format('woff'), url('../fonts/Roboto/robotocondensed-400-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/') format('woff2'), url('../fonts/Roboto/robotocondensed-700-normal.woff') format('woff'), url('../fonts/Roboto/robotocondensed-700-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/opensans-300-normal.woff2') format('woff2'), url('../fonts/OpenSans/opensans-300-normal.woff') format('woff'), url('../fonts/OpenSans/opensans-300-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/opensans-400-normal.woff2') format('woff2'), url('../fonts/OpenSans/opensans-400-normal.woff') format('woff'), url('../fonts/OpenSans/opensans-400-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/opensans-600-normal.woff2') format('woff2'), url('../fonts/OpenSans/opensans-600-normal.woff') format('woff'), url('../fonts/OpenSans/opensans-600-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/opensans-700-normal.woff2') format('woff2'), url('../fonts/OpenSans/opensans-700-normal.woff') format('woff'), url('../fonts/OpenSans/opensans-700-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/opensans-800-normal.woff2') format('woff2'), url('../fonts/OpenSans/opensans-800-normal.woff') format('woff'), url('../fonts/OpenSans/opensans-800-normal.ttf') format('truetype');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}