@import "./normalize.scss";
@import "./colors.scss";
@import "./media.scss";
@import "./fonts.scss";
@import "./libs/libs.scss";

* {
  box-sizing: border-box;
  outline: none !important;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: -1.5%;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
    
  @media (max-width: 1023px) {
    font-size: 14px;
    line-height: 20px;
  }
}

body {
  font-family: Arial, sans-serif;
  color: $black;
  font-weight: normal;
  // overflow: hidden;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #FFFFFF;
  word-wrap: break-word;
}

.b-container {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 0 0;
  box-sizing: border-box;
  // overflow: hidden;
 
  @media (max-width:1023px) {
    padding: 0 15 px 30px;
  }
}

img {
  vertical-align: bottom;
}

.bgi {
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

a {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: linear 0.2s;
}

.clearfix::after,
.clearfix::before {
  content: '';
  display: table;
  clear: both;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

.b-svg {
  width: auto;
  height: auto;
}

@import './components/b-header.scss';
@import './components/b-spare-part-main.scss';
@import './components/b-spare-part-side.scss';
@import './components/b-spare-part-description.scss';
@import './components/b-footer.scss';