include ../mixins

.barrier

footer.footer
    .b-footer
        .b-footer__container.b-container
            .b-footer__left
                a(href="#").b-footer__um САЙТ РАЗРАБОТАН <span>URALMEDIAS</span>
                .b-footer__left-right
                    a(href="/").b-footer__logo
                        img(src="img/logo-footer.png")
                    .b-footer__address
                        div г.Магнитогорск<br>ул. Герцена 6, офис 508
                        div г.Белорецк<br>ул. Блюхера , д.139
            .b-footer__center
                nav.b-nav--footer
                    ul.b-nav__items.b-nav__items--footer
                        li
                            a(href="#") Услуги
                        li
                            a(href="#") о компании
                        li
                            a(href="#") новости
                        li
                            a(href="#").active КАТАЛОГ запчастей
                        li
                            a(href="#") контакты
            .b-footer__right
                .b-header__info--footer
                    a(href="mailto:info@microsmag.ru").b-header__mail--footer info@microsmag.ru
                    a(href="tel:+73519450696").b-header__phone--footer +7(3519)45-06-96
                    .b-footer__copyright © 2019 ООО "ИНДУСТРИАЛЬНЫЕ МАШИНЫ". Все права защищены.
        .b-footer__bg.bgi