include ../mixins


.b-header
    .b-header__container.b-container
        .b-header__left
            a(href="/").b-logo
                img(src="img/logo.png")
        .b-header__right
            .b-header__info
                a(href="mailto:info@microsmag.ru").b-header__mail info@microsmag.ru<br>
                a(href="tel:+73519450696").b-header__phone +7(3519)45-06-96
            nav.b-nav
                ul.b-nav__items
                    li
                        a(href="#") главная
                    li
                        a(href="#") услуги
                    li
                        a(href="#") Пресс-центр
                    li
                        a(href="#").active КАТАЛОГ запчастей
                    li
                        a(href="#") о компании
                    li
                        a(href="#") контакты
            .b-burger
                div
                div
                div