.barrier {
    width: 100%;
    height: 200px;
}

.footer {
   position: relative;
   margin-top: 150px;

   @media(max-width: 1024px) {
        margin-top: 250px;
    }
}
.b-footer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: #fff;
    position: absolute;

    z-index: 10;
    background-color: transparent;
    pointer-events: none;
    bottom: 0;

    left: 0;
    right: 0;

    &__bg {
        position: absolute;
        background-image: url(../img/bg-footer.png);
        background-position: center 100%;

        bottom: 0;
        left: -100%;
        right: -100%;
        margin: 0 auto;

        width: 100%;
        top: -303px;
        z-index: 5;
        pointer-events: none;

        background-size: cover;

        @media (max-width:1860px) {
            width: 1920px;
        }

        @media (max-width:1300px) {
            width: 1280px;
        }

        @media(max-width: 1110px) {
            display: none;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        padding-bottom: 10px;
        pointer-events: all;

        @media(max-width: 1110px) {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
    }

    &__left,
    &__right,
    &__center {
        position: relative;
        z-index: 10;
    }

    &__left {
        display: flex;
        align-items: center;
        padding-bottom: 10px;

        @media (max-width:1110px) {
            order: 3;
        }
    }

    &__center {
        @media (max-width:1110px) {
            order: 1;
            margin-top: 10px;
            margin-left: 0;
        }
    }

    &__right {
        margin-bottom: 10px;

        & .b-header__info {
            height: auto;
        }

        @media(max-width: 1110px) {
            margin-right: 0;
            margin-top: 20px;
            order: 2;

            & a, div {
                align-items: center;
            }
        }
    }

    &__um {
        text-transform: uppercase;
        font-weight: 300;
        line-height: 14px;
        margin-bottom: -40px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & span {
            display: block;
            font-weight: normal;
        }

        @media(max-width: 1110px) {
            display: none;
        }
    }

    &__copyright {
        line-height: 14px;
        width: 235px;
        margin: 35px 0 0 ;
        text-align: left;

        @media(max-width: 1110px) {
            display: none;
        }
    }

    &__logo {
        width: 180px;
        display: block;
        margin-left: 60px;

        & img {
            width: 100%;
            height: auto;
        }

        @media (max-width:1300px) {
            margin-bottom: -40px;
        }

        @media (max-width:1110px) {
            display: none;
            margin-bottom: 0;
        }
    }

    &__address {
        font-size: 12px;
        line-height: 14px;
        margin: 35px 0 0 60px;
        width: 236px;

        display: flex;
        justify-content: space-between;

        & div {
            text-align: left;
        }

        @media(max-width: 1110px) {
            margin-left: 0;
            display: flex;
            justify-content: space-between;

            & div:last-child {
                margin: 0;
            }
        }
    }

    @media(max-width: 1110px) {
        background-color: $greydrk;
    }
}
.b-header__mail--footer {
    @media (max-width:1110px) {
        font-size: 20px;
    }

    @media (max-width:1110px) {
        font-size: 18px;
    }

    @media (max-width:620px) {
        font-size: 16px;
    }

    @media (max-width:500px) {
        font-size: 14px;
    }
}
.b-nav__items--footer {
    display: flex;
    flex-direction: column;

    & li {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        margin: 0 0 8px -150px;

        @media (max-width:1300px) {
            margin-bottom: -10px;
            margin-top: 8px;
        }

        @media (max-width:1110px) {
            margin-left: 0;
            margin-top: 12px;
            margin-bottom: 0;
        }

        & a {

            &:after {
                display: none;
            }

            color: #FFFFFF;

           

            @media (max-width:1110px) {
                padding: 10px 0;
                margin-bottom: 0;
            }
        }
    }
}
.b-header__info--footer {
    text-align: left;

    & a {
        display: block;
        text-align: left;
    }
}