.b-header {
    border: 2px solid #EDEDED;
    display: flex;
    position: fixed;

    z-index: 100;
    width: 100%;
    background: #FFFFFF;
    top: 0;

    transition: linear 0.2s;
    padding: 15px 0;

    @media (max-width:1024px) {
        border-right: 0;
        border-left: 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @media (max-width:1300px) {
            align-self: end;
            margin: 0 20px;
        }

        @media (max-width:1024px) {
           padding: 25px 0;
        }

        @media (max-width:767px) {
            padding: 15px 0;
        }

        @media (max-width:500px) {
            margin: 0 15px;
        }

        @media (max-width:400px) {
            margin: 0 15px;            
        }
    }

    &__right {
        @media (max-width:1024px) {
            display: flex;
            align-items: center;
        }
    }

    &__info {
        text-align: end;
        transition: linear 0.2s;

        @media (max-width:1024px) {
            margin-top: 0;
        }
    }

    &__mail {
        font-family: Roboto Condensed;
        font-weight: normal;
        font-size: 16px;
        line-height: 1;

        letter-spacing: 0.05em;
        text-transform: lowercase;
        color: #333333;

        @media (max-width:767px) {
            display: none;
        }
    }

    &__phone {
        font-family: Roboto Condensed;
        font-weight: normal;
        font-size: 24px;
        line-height: 1;

        letter-spacing: 0.05em;
        text-transform: lowercase;
        color: #333333;

        @media (max-width:620px) {
            font-size: 20px;
        }

        @media (max-width:500px) {
            font-size: 18px;
        }

        @media (max-width:400px) {
            font-size: 14px;
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }
}
.b-header--fixed {
    transition: .3s;

    & .b-header--left {
        margin-top: 0;
    }

    & .b-logo {
        margin-top: 0;
        padding-bottom: 0;
        transition: linear .2s;

        & img {
            @media (max-width:1024px) {
                width: 150px;
            }

            @media (max-width:380px) {
                width: 130px;
            }
        }
    }

    & .b-header__phone {
        @media (max-width:380px) {
            font-size: 14px;
        }
    }

    & .b-header__container {
        @media (max-width:1024px) {
            align-items: center;
            padding: 20px 0;

            position: relative;
        }
    }

    & .b-nav {
        margin-left: -10px;

        &__items {
            margin-top: 25px;
        }
    }
     
    & .b-header__info {
        display: none;

        @media (max-width:1024px) {
           display: block;
           align-self: start;
        }

        @media (max-width:500px) {
            margin-top: 5px;
        }
    }

    & .b-header__mail {
        @media (max-width:1024px) {
            display: none;
        }
    }

    & .b-burger {
        @media (max-width: 1024px) {
            display: flex;
            align-self: end;
        }

        @media (max-width: 767px) {
            align-self: auto;
        }
    }
}
.b-nav {
    transition: linear 0.2s;

    @media (max-width:1024px) {
        display: none;
    }

    &__items {
        list-style: none;
        display: flex;
        margin-top: 15px;
        margin-bottom: -7px;

        & a {
            font-family: Roboto Condensed;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;

            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #333333;
            transition: all ease .3s;

            position: relative;

            @media (max-width:1024px) {
                font-size: 18px;
            }
            
            &:hover {
                color: #FF8F00;
            }

            &.active {
                color: #FF8F00;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    right: 0;

                    left: 0;
                    height: 2px;
                    background-color: $gold;
                    width: 100%;

                    @media (max-width:767px) {
                        display: none;
                    }
                }
            }
        }

        & li {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.b-nav--open {
    display: block;
    background-color: #FFFFFF;
    width: calc(100vw + 55px);
    position: absolute;

    left: -25px;
    right: 0;
    height: auto;
    top: calc(100% - 1px);
    transform: translateX(100%);

    transition: linear 0.2s;
    transform: translateX(0);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

    & .b-nav__items {
        display: block;

        & li {
            padding-bottom: 20px;
            margin-right: 0;
        }

        & a {
            &.active {
                &::after {
                    display: none;
                }
            }
        }
    }
}
.b-logo {
    & img {
        width: 200px;
        height: auto;
        padding-bottom: 0;
        transition: linear 0.2s;

        @media (max-width:620px) {
            width: 180px;
        }

        @media (max-width:500px) {
            width: 150px;
        }

        @media (max-width:400px) {
            width: 120px;
        }
    }
}
.b-burger {
    display: none;
    width: 18px;
    height: 12px;
    flex-direction: column;

    justify-content: space-between;
    cursor: pointer;
    margin-left: 20px;

    & div {
        width: 100%;
        height: 2px;
        background-color: #333;
        pointer-events: none;

        transition: linear 0.2s;
    }

    &--open {

        & div {

            &:first-child {
                transform: rotate(45deg) translateY(7px);
            }

            &:nth-child(2) {
                transform: scaleX(0);
            }

            &:last-child {
                transform: rotate(-45deg) translateY(-7px);
            }
        }

        @media (max-width:767px) {
            
        }
    }

    @media (max-width: 1024px) {
        display: flex;
        margin-top: 10px;
    }

    @media (max-width: 767px) {
        margin-top: 0;
    }
}