.b-bildboard {
    background-image: url(../img/bg-bildboard.jpg);
    position: relative;
    width: 100%;
    height: 300px;

    margin-bottom: 100px;
    margin-top: 120px;
    display: flex;

    @media (max-width:767px) {
        margin-top: 72px;
    }

    @media (max-width:500px) {
        margin-bottom: 50px;
        height: 200px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        filter: blur(2px);
        background: #171717;

        opacity: .3;
    }

    &__container {
        display: flex;
        align-items: flex-start;
    }

    &__caption {
        z-index: 1;

        @media (max-width:380px) {
            margin-top: 50px;
        }

        @media (max-width:500px) {
            margin-top: 80px;
        }

        & h1 {
            font-family: Open Sans Hebrew;
            font-weight: normal;
            font-size: 40px;
            line-height: 46px;

            letter-spacing: 0.05em;
            color: #FFFFFF;

            @media (max-width:500px) {
                font-size: 28px;
                line-height: 1;
            }

            
        } 

        & span {
            font-family: Open Sans Hebrew;
            font-weight: bold;
            font-size: 40px;
            line-height: 46px;

            letter-spacing: 0.05em;
            color: #FFFFFF;
            display: block;
            text-align: left;

            @media (max-width:500px) {
                font-size: 28px;
                line-height: 1;
            }
        }
    }
}
.b-sparePart-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.b-sparePart-main-item {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    @media (max-width:1300px) {
        margin: 0 20px;
    }

    @media (max-width:500px) {
        padding-bottom: 5px;
    }

    & h2 {
        font-family: Open Sans Hebrew;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;

        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #333333;
        padding-right: 5px;

        cursor: pointer;
        transition: ease all .3s;
    }

    & svg {
        width: 14px;
        height: 20px;
    }

    &:hover h2 {
        color: #FF8F00;
    }
}
.b-sparePart-main-item__years {
    display: none;
    flex-direction: column;
    margin-left: 70px;
    padding-bottom: 20px;

    align-items: flex-start;

    @media (max-width:500px) {
        padding-bottom: 5px;
    }

    & a {
        font-family: Open Sans Hebrew;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 2.5rem;

        letter-spacing: 0.05em;
        color: #333333;
        transition: ease all .3s;

        &:hover {
            color: #FF8F00;
        }
    }
}
.b-sparePart-main--active {
    & svg {
        transform: rotate(180deg);
        margin-top: -25px;
    }

    & path {
        fill: #FF8F00;
    }

    & h2 {
        color: #FF8F00;
    }

    & .b-sparePart-main-item__years {
        display: flex;
    }
} 