.side-content {
   padding-bottom: 150px;

   @media (max-width:1300px) {
        margin-left: 20px;
        padding-bottom: 100px;
    }

    @media (max-width:500px) {
        margin-left: 5px;
        padding-bottom: 0;
    }
}
.b-content__header {
    background-image: url(../img/bg-content-title.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 382px;
    display: flex;
    justify-content: left;

    margin-bottom: 70px;
    position: relative;

    @media (max-width: 767px) {
        min-height: 282px;
        margin-bottom: 35px;
    }

    @media (max-width: 500px) {
        min-height: 182px;
        margin-bottom: 35px;
    }

    img {
        position: absolute;
        right: 0;
        bottom: -130%;
        z-index: -100;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    & .b-content__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h2 {
            font-family: Open Sans Hebrew;
            font-weight: normal;
            font-size: 2.5rem;
            line-height: 2.875rem;
    
            letter-spacing: 0.05em;
            color: #333333;
    
            @media (max-width: 500px) {
                font-size: 2rem;
                line-height: 1;
            }

            @media (max-width:380px) {
                font-size: 1.8rem;
                line-height: 1;
            }
        }
    
        & span {
            font-family: Open Sans Hebrew;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 2.875rem;
    
            letter-spacing: 0.05em;
            color: #333333;
    
            @media (max-width: 500px) {
                font-size: 2rem;
            }
        }

        @media (max-width: 1024px) {
            margin-top: 10%;
        }

        @media (max-width: 767px) {
            margin-top: 14%;
        }

        @media (max-width: 620px) {
            margin-top: 20%;
        }

        @media (max-width: 500px) {
            margin-top: 30%;
        }

        @media (max-width: 380px) {
            margin-top: 40%;
        }
    }

    
}
.b-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-item {
        &__firstlevel {
            display: flex;
            align-items: center;
            width: 100%;
            height: 60px;

            & p,
            & a {
                font-family: Open Sans Hebrew;
                font-weight: bold;
                font-size: 24px;
                line-height: 40px;

                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #333333;
                text-align: left;

                &:hover {
                    color: #FF8F00;
                }

                @media (max-width:860px) {
                    font-size: 19px;
                    line-height: 1;
                }
            }

            & svg {
                width: 12px;
                margin-left: 5px;
            }

            & p {
                &:hover {
                    color: #333333;
                }
            }
           
        }

        &__secondlevel {
            display: none;
            margin-left: 30px;
            width: 90%;
            margin-bottom: 10px;

            @media (max-width:860px) {
                margin-left: 20px;
            }

            & a {
                font-family: Open Sans Hebrew;
                font-weight: bold;
                font-size: 20px;
                line-height: 40px;

                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #333333;
                text-align: left;

                &:hover {
                    color: #FF8F00;
                }

                @media (max-width:860px) {
                    font-size: 18px;
                    line-height: 1.5;
                }

                @media (max-width:380px) {
                    font-size: 16px;
                }
            }
        }

        &__thirdlevel {
            display: none;
            margin-left: 45px;
            width: 90%;
            margin-bottom: 10px;

            align-items: flex-start;

            @media (max-width:860px) {
                margin-left: 35px;
            }
            
            & a {
                font-family: Open Sans Hebrew;
                font-weight: normal;
                font-size: 20px;
                line-height: 40px;

                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #333333;
                text-align: left;

                &:hover {
                    color: #FF8F00;
                }

                @media (max-width:860px) {
                    font-size: 16px;
                    line-height: 1.5;
                }

                @media (max-width:380px) {
                    font-size: 14px;
                }
            }
        }
    }
}
.active-level {
    & .b-content-item__firstlevel {
        & a {
            color: #FF8F00;
        }

        & use {
            fill: #FF8F00;
        }

        & svg {
            transform: rotate(180deg);
            margin-top: -20px;
        }
    }

    & .b-content-item__secondlevel,
    & .b-content-item__thirdlevel {
        display: flex;
        flex-wrap: wrap;
    }
}