.sparePart-desc {
    padding-top: 150px;
    margin-bottom: 50px;

    @media (max-width: 1300px) {
        margin: 0 20px;
    }

    @media (max-width: 620px) {
        margin: 0 5px;
    }
}
.b-sparePart-desc-title {
    & h2 {
        font-family: Open Sans Hebrew;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 2.875rem;

        letter-spacing: 0.05em;
        color: #333333;

        @media (max-width: 500px) {
            font-size: 2rem;
        }

        @media (max-width: 400px) {
            font-size: 1.6rem;
        }
    }

    margin: 70px 0 64px 30px;
    display: flex;

    @media (max-width: 800px) {
        margin: 35px 0 32px;
    }

    @media (max-width: 400px) {
        margin: 20px 0 16px;
    }
}
.b-sparePart-desc-content {
    display: flex;

    @media (max-width: 800px) {
        display: block;
    }
    
    &__table {
        width: 60%;
        overflow-y: hidden;
        overflow-x: auto;

        @media (max-width: 800px) {
            width: 100%;
        }

        & tbody {
            & tr {
                &:hover {
                    background: rgba(255, 143, 0, 0.4);
                }
            }
        } 
    }

    & table {
        border-collapse: collapse;
        font-family: Open Sans Hebrew;
        border: none;
        margin: 0 auto;
        
        & th {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1;
            color: #FFFFFF;

            background: #333333;
            padding: 10px 10px;
            border-right: 2px solid #FFFFFF;
            text-align: left;

            &:last-child {
                border-right: none;
            }

            @media (max-width: 620px) {
                padding: 5px 5px;
            }

            @media (max-width: 400px) {
                padding: 3px 3px;
                font-size: 1rem;
            }
        }

        & td {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1rem;
            color: #333333;

            padding: 9px 10px 9px 10px;
            border-right: 2px solid #333333;
            text-align: left;

            &:last-child {
                border-right: none;
            }

            @media (max-width: 620px) {
                padding: 5px 5px;
            }

            @media (max-width: 400px) {
                padding: 3px 8px;
                font-size: 0.875rem;
            }
        }
    }

    &__light {
        background: #F5F5F5;
    }

    &__dark {
        background: #E5E5E5;
    }

    &__picture {
        max-height: 557px;
    }

    & .table-active {
        background: rgba(255, 143, 0, 0.4);
    }
}
.b-sparePart-desc-content__picture {
    margin-top: 30px;
    position: relative;

    & img {
        width: 400px;
        height: 400px;

        @media (max-width: 620px) {
            width: 300px;
            height: 300px;
        }
    }

    & .row1 {
        position: absolute;
        left: 6.1%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 5.3%;
        }
    }

    & .row2 {
        position: absolute;
        left: 11%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 10%;
        }
    }

    & .row3 {
        position: absolute;
        left: 17%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 16%;
        }
    }

    & .row4 {
        position: absolute;
        left: 25.3%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 24%;
        }
    }

    & .row5 {
        position: absolute;
        left: 33.3%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 32%;
        }
    }

    & .row6 {
        position: absolute;
        left: 41.5%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 40.5%;
        }
    }

    & .row7 {
        position: absolute;
        left: 49%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 48%;
        }
    }

    & .row8 {
        position: absolute;
        left: 55.6%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 54.6%;
        }
    }

    & .row9 {
        position: absolute;
        left: 73.4%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 72.5%;
        }
    }

    & .row10 {
        position: absolute;
        left: 82%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 81%;
            top: 1.3%;
        }
    }

    & .row11 {
        position: absolute;
        left: 75.6%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 74.8%;
            top: 1.3%;
        }
    }

    & .row12 {
        position: absolute;
        left: 69%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 68%;
            top: 1.3%;
        }
    }

    & .row13 {
        position: absolute;
        left: 63.8%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 62.8%;
            top: 1.3%;
        }
    }

    & .row14 {
        position: absolute;
        left: 57.3%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 56.3%;
            top: 1.3%;
        }
    }

    & .row15 {
        position: absolute;
        left: 47.6%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 46.6%;
            top: 1.3%;
        }
    }

    & .row16 {
        position: absolute;
        left: 41.2%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 40.2%;
            top: 1.3%;
        }
    }

    & .row17 {
        position: absolute;
        left: 34.5%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 33.6%;
            top: 1%;
        }
    }

    & .row18 {
        position: absolute;
        left: 25.3%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 24.3%;
            top: 1%;
        }
    }

    & .row19 {
        position: absolute;
        left: 15.3%;
        top: 1.5%;
        display: none;

        @media (max-width: 620px) {
            left: 14.3%;
            top: 1%;
        }
    }

    & .row20 {
        position: absolute;
        left: 88.7%;
        bottom: 3.3%;
        display: none;

        @media (max-width: 800px) {
            bottom: 1.7%;
        }

        @media (max-width: 620px) {
            bottom: 1.5%;
            left: 87.7%;
        }
    }

    & .row-active {
        display: block;
    }
}
.b-sparePart-desc-content__img {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;

    margin: auto;
    position: relative;

    @media (max-width: 620px) {
        max-width: 300px;
        width: 100%;
        max-height: 300px;
        height: 100%;
    }
}