extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content

	//- include ../modules/spare-part-main
	//- include ../modules/spare-part-side
	//- include ../modules/spare-part-description 
	
block script