extends ../layout/main

block variables
	- var title = 'spare-part-side'
	- var pageClass = 'index-page';

block content
	include ../mixins

	section.side-content
		.b-content__header
			//- img(src="../img/bg-content-title.jpg", alt="")
			.b-container
				.b-content__title
					h2 Электронный каталог 
					span запасных частей
			img(src="../img/bg-vector-side.png", alt="")

		.b-container
			.b-content
				.b-content-item
					.b-content-item__firstlevel
						p Общий вид машины

				.b-content-item
					.b-content-item__firstlevel
						a(href="#") Рабочее оборудование 
						+svg('arrow-down')

				.b-content-item.active-level
					.b-content-item__firstlevel
						a(href="#") Грузовая часть 
						+svg('arrow-down')

					.b-content-item__secondlevel
						a(href="/spare-part-description.html") Грузовая часть. Часть 1
					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Часть 2

					.b-content-item__thirdlevel
						a(href="#") Подвеска моста DANA
					.b-content-item__thirdlevel
						a(href="#") Карданный вал передний мост/промежуточная опора (DANA)
					.b-content-item__thirdlevel
						a(href="#") Карданный вал передний мост/промежуточная опора (KESSLER)

					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Часть 3
					.b-content-item__secondlevel
						a(href="#") Грузовая часть (Исполнение 1). Часть 4

					.b-content-item__thirdlevel
						a(href="#") Грузовая часть (Исполнение 2)

					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Часть 5
					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Часть 6
					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Промежуточная опора (Исполнение 1)

					.b-content-item__thirdlevel
						a(href="#") Промежуточная опора (Исполнение 2)

					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Плита гидравлическая в сборе (Исполнение 1)

					.b-content-item__thirdlevel
						a(href="#") Грузовая часть. Плита гидравлическая в сборе (Исполнение 2)

					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Плита соединительная
					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Плита гидравлическая
					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Плита смазочная
					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Плита гидравлическая (Исполнение 1)

					.b-content-item__thirdlevel
						a(href="#") Грузовая часть. Плита гидравлическая (Исполнение 2)

					.b-content-item__secondlevel
						a(href="#") Грузовая часть. Главный распределитель

				.b-content-item
					.b-content-item__firstlevel
						a(href="#") Моторный отсек 
						+svg('arrow-down')

				.b-content-item
					.b-content-item__firstlevel
						a(href="#") Фильтрующие элементы ПДМ

block script
