extends ../layout/main

block variables
	- var title = 'spare-part-description'
	- var pageClass = 'index-page';

block content

	include ../mixins

	section.sparePart-desc
		.b-container
			.b-sparePart-desc-title
				h2 Грузовая часть. Часть 1
			.b-sparePart-desc-content
				.b-sparePart-desc-content__table
					table(border)
						thead
							tr
								th Поз.
								th Кат. №
								th Описание
								th Стандартные
								th Кол.

						tbody
							tr.b-sparePart-desc-content__light(data-row="1") 
								td 1
								td 0903-24
								td Фитинг
								td 
								td 2
							tr.b-sparePart-desc-content__dark(data-row="2") 
								td 2
								td 0306-8
								td Втулка
								td 
								td 8
							tr.b-sparePart-desc-content__light(data-row="3")  
								td 3
								td 0506-5
								td Пыльник
								td 
								td 8
							tr.b-sparePart-desc-content__dark.table-active(data-row="4")
								td 4
								td 0306-9
								td Пластина
								td 
								td 8
							tr.b-sparePart-desc-content__light(data-row="5")  
								td 5
								td 0506-6
								td Болт
								td 
								td 32
							tr.b-sparePart-desc-content__dark(data-row="6")  
								td 6
								td 0306-13
								td Ось гидроцилиндра подъема L=212 мм
								td М4-6g х8 88 Zn DIN 933
								td 2
							tr.b-sparePart-desc-content__light(data-row="7")   
								td 7
								td 0306-12
								td Втулка
								td 
								td 4
							tr.b-sparePart-desc-content__dark(data-row="8") 
								td 8
								td 0210-1
								td Крышка
								td 
								td 2
							tr.b-sparePart-desc-content__light(data-row="9")   
								td 9
								td 040605-2
								td Винт
								td М16-6gх35 88 Zn DIN 912
								td 48
							tr.b-sparePart-desc-content__dark(data-row="10") 
								td 10
								td 0306-7
								td Ось L=864 мм
								td 
								td 1
							tr.b-sparePart-desc-content__light(data-row="11")   
								td 11
								td 0306-11
								td Втулка
								td 
								td 2
							tr.b-sparePart-desc-content__dark(data-row="12")  
								td 12
								td 0306-10
								td Втулка
								td 
								td 2
							tr.b-sparePart-desc-content__light(data-row="13")   
								td 13
								td 030103-1
								td Пластина
								td 
								td 2
							tr.b-sparePart-desc-content__dark(data-row="14")   
								td 14
								td 030103-2
								td Уплотнение
								td 
								td 2
							tr.b-sparePart-desc-content__light(data-row="15")   
								td 15
								td 0306-23
								td Фитинг
								td 
								td 2
							tr.b-sparePart-desc-content__dark(data-row="16")  
								td 16
								td 0406-9
								td Планка (для одной трубки)
								td 
								td 6
							tr.b-sparePart-desc-content__light(data-row="17")  
								td 17
								td 0406-8
								td Планка (для двух трубок)
								td 
								td 12
							tr.b-sparePart-desc-content__dark(data-row="18")  
								td 18
								td 0306-15
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__light(data-row="19")   
								td 19
								td 0306-16
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__dark(data-row="20")  
								td 20
								td 0406-24
								td Фитинг
								td 
								td 6
							tr.b-sparePart-desc-content__light(data-row="21")  
								td 21
								td 0212-1
								td Крышка
								td 
								td 2
							tr.b-sparePart-desc-content__dark(data-row="22") 
								td 22
								td 0306-19
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__light(data-row="23")   
								td 23
								td 0306-20
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__dark(data-row="24")  
								td 24
								td 0306-21
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__light(data-row="25")   
								td 25
								td 0306-22
								td Трубка
								td
								td 1
							tr.b-sparePart-desc-content__dark(data-row="26")  
								td 26
								td 0306-17
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__light(data-row="27")   
								td 27
								td 0306-18
								td Трубка
								td 
								td 1
							tr.b-sparePart-desc-content__dark(data-row="28")   
								td 28
								td 0306-25
								td Фитинг
								td 
								td 8
							tr.b-sparePart-desc-content__light(data-row="29")  
								td 29
								td 0306-26
								td Фитинг
								td 
								td 8

				.b-sparePart-desc-content__picture
					.b-sparePart-desc-content__img
						img(src="../img/part.png", alt="")

						<svg class="row1" data-row="1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row2" data-row="2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row3" data-row="3" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row4 row-active" data-row="4" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row5" data-row="5" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row6" data-row="6" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row7" data-row="7" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row8" data-row="8" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row9" data-row="9" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row10" data-row="10" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row11" data-row="11" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row12" data-row="12" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row13" data-row="13" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row14" data-row="14" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row15" data-row="15" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row16" data-row="16" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row17" data-row="17" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row18" data-row="18" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row19" data-row="19" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

						<svg class="row20" data-row="20" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#FF8F00" fill-opacity="0.4"/>
						</svg>

block script