extends ../layout/main

block variables
	- var title = 'spare-part-main'
	- var pageClass = 'index-page';

block content

	.b-bildboard.bgi
			.b-bildboard__container.b-container
				.b-bildboard__caption
					h1 Электронный каталог <span>запасных частей</span>

	section.sparePart-main
		.b-container
			.b-sparePart-main.b-sparePart-main--active
				.b-sparePart-main-item
					h2 ПДМ-7
					//- +svg('arrow-down')
					<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 9L0.071799 0.749998L13.9282 0.749999L7 9Z" fill="#333333"/>
					</svg>

				.b-sparePart-main-item__years
					a(href="/spare-part-side.html")  2020-2021 г.
					a(href="javascript.avoid(0);")  ... г.

			.b-sparePart-main
				.b-sparePart-main-item
					h2 ПДМ-10
					//- +svg('arrow-down')
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 9L0.071799 0.749998L13.9282 0.749999L7 9Z" fill="#333333"/>
					</svg>


				.b-sparePart-main-item__years
					a(href="javascript.avoid(0);")  ... г. 
					a(href="javascript.avoid(0);")  ... г.                

			.b-sparePart-main
				.b-sparePart-main-item
					h2 самосвал ПС-30
					//- +svg('arrow-down')
					<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 9L0.071799 0.749998L13.9282 0.749999L7 9Z" fill="#333333"/>
					</svg>

				.b-sparePart-main-item__years
					a(href="javascript.avoid(0);")  ... г. 
					a(href="javascript.avoid(0);")  ... г.

			.b-sparePart-main
				.b-sparePart-main-item
					h2 ...
					//- +svg('arrow-down')
					<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 9L0.071799 0.749998L13.9282 0.749999L7 9Z" fill="#333333"/>
					</svg>

				.b-sparePart-main-item__years
					a(href="javascript.avoid(0);")  ... г. 
					a(href="javascript.avoid(0);")  ... г.

			.b-sparePart-main
				.b-sparePart-main-item
					h2 ...
					//- +svg('arrow-down')
					<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 9L0.071799 0.749998L13.9282 0.749999L7 9Z" fill="#333333"/>
					</svg>

				.b-sparePart-main-item__years
					a(href="javascript.avoid(0);")  ... г. 
					a(href="javascript.avoid(0);")  ... г.

			.b-sparePart-main
				.b-sparePart-main-item
					h2 ...
					//- +svg('arrow-down')
					<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 9L0.071799 0.749998L13.9282 0.749999L7 9Z" fill="#333333"/>
					</svg>

				.b-sparePart-main-item__years
					a(href="javascript.avoid(0);")  ... г. 
					a(href="javascript.avoid(0);")  ... г.

block script