include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="css/main.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		//- script
		//- 	document.createElement('header');
		//- 	document.createElement('nav');
		//- 	document.createElement('section');
		//- 	document.createElement('article');
		//- 	document.createElement('aside');
		//- 	document.createElement('footer');
		<![endif]-->
	body
		.b-page
			include ../modules/header
			block content
			include ../modules/footer
		script(src="js/libs-min.js")
		script(src="js/main-min.js" defer)
		block script